@font-face {
    font-family: 'myOwn';
    src: url(fonts/Norse-Bold.otf);
}
*{
  font-family: sans-serif;
}
body{
    margin: 0;
}
h1{
    font-family: myOwn,sans-serif;
    font-size: 56px;
}
/* LOGIN PAGE */
/* LEFT HALF */
.odin-logo{
    width: 100px;
    height: 100px;
}

.main-container{
    width:100vw;
    height:100vh;
    display:flex;
  }
  .left-container{
    width:40%;
    height:100%;
    position: relative;
  }
  .right-container{
    width:60%;
    height:100%;
  }
  .left-image{
    width: 100%;
    height: 100%;
  }

  .logo-container{
    background-color: rgb(0, 67, 89);
    color: rgb(231, 254, 254);
    position: absolute;
    width: 100%;
    /* z-index: 1; */
    top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* RIGHT HALF */
  h2,p{
    margin-left: 2rem;
  }
  h2{
    margin-bottom: 5px;
  }
  form{
    display: flex;
    background-color: rgb(0, 67, 89);
  }
  input{
    display: block;
    height: 1.5rem;
    box-shadow: 5px 5px 0 rgb(0, 221, 255);
    border: 0;
  }
  label{
    color: rgb(231, 254, 254);
    font-size: 12px;
  }
  .form-group{
    margin-left: 2rem;
    padding: 1rem;
  }
  .right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input:focus{
    box-shadow: 5px 5px 0 rgb(60, 255, 0);
    transition: 0.5s ease;
    border: 0;
  }